<style>
  {% scope_css %}
    a svg {
      max-height: 25px;
    }
  {% end_scope_css %}
</style>

<p class="mb-6 text_body_xl">
  Social
</p>

<div class="social-links-wrapper md:mb-0 mb-8 flex space-x-4">
  {% for item in module.social_links %}
	{% set href = item.platform_link.url.href %}
	{% if item.platform_link.url.type is equalto "EMAIL_ADDRESS" %}
		{% set href = "mailto:" + href %}
	{% endif %}
	<a href="{{ href }}" class="p-3 inline-flex items-center"
		{% if item.platform_link.open_in_new_tab %}target="_blank"{% endif %}
		{% if item.platform_link.rel %}rel="{{ item.platform_link.rel }}"{% endif %}
		>
		<div class="h-6 w-6">
      {% icon
        extra_classes="social-links__icon",
        name="{{ item.platform }}",
        purpose="semantic",
        style="SOLID",
        title="{{ item.accessibility.title }}",
        unique_in_loop=True
      %}
    </div>
	</a>
  {% endfor %}
</div>