<!--
  templateType: blog_post
  isAvailableForNewContent: true
  label: Blog Post - NEW
  screenshotPath: ../images/template-previews/blog-post.png
-->
{% extends "./layouts/base.html" %}

{% block body %}
<div class="body-container body-container--blog-post">

  {# Blog post #}

  <article>
    <div class="py-12 bg-white">
      <div class="max-w-[1350px] mx-auto lg:py-14 py-6 lg:px-8 px:px-6">
        <div class="grid grid-cols-4">
          <div class="col-span-3">
            <span class="text-lg lg:text-xl">{{ content.name }}</span>
            <h1 class="font-bold mt-2 text-5xl md:text-6xl lg:text-7xl">{{ content.name }}</h1>
          </div>
          <div class="border-l border-grey-200 space-y-1 px-4">
            {% for tag in blog_tags(content, 250) %}
              <a class="block hover:underline" href="{{ blog_tag_url(group.id, tag.slug) }}" rel="tag">{{ tag.name }}</a>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
    {# <div class="">
      <a href="{{ blog_author_url(group.id, content.blog_post_author.slug) }}" rel="author">
        {{ content.blog_post_author.display_name }}
      </a>
      <time datetime="{{ content.publish_date }}" class="blog-post__timestamp">
        {{ content.publish_date_localized }}
      </time>
    </div> #}
    <div  class="blog-post__body">
      {{ content.post_body }}
    </div>
  </article>

  {# Recent posts listing #}

  {# This macro is used to format each recent post card and gets passed to the related_blog_posts HubL tag below #}

  {% macro related_posts(post, count, total) %}
    <a href="{{ post.absolute_url }}" class="group">
      <div class="relative">
        <div class="overflow-hidden">
          <img src="{{ post.featured_image }}" alt="{{ post.featured_image_alt_text }}" class="group-hover:scale-105 transition duration-300">
        </div>
        <div class="absolute bottom-0 p-8 text-copy max-w-[540px]">
          <div class="text-xl leading-normal">{% inline_text field="title" value="{{ post.name }}" %}</div>
          <h2 class="mt-1">{% inline_text field="title" value="{{ post.name }}" %}</h2>
        </div>
      </div>
    </a>
  {% endmacro %}



  <div class="max-w-[1350px] mx-auto lg:py-14 py-6 lg:px-8 px:px-6">
    <h2 class="mb-4">Explore more projects</h2>
    <div class="grid grid-cols-2 gap-8">
      {% related_blog_posts
        limit=2,
        no_wrapper=True,
        post_formatter="related_posts"
      %}
    </div>
  </div>

</div>
{% endblock body %}
