<!-- custom widget definition not found (portalId: 22127437, path: /webcoda-theme-new/modules/blog-hightlighted-image-text, moduleId: 112799933213) -->
<div style="background-color: {{ module.background.color }}">
  <div class="max-w-[1350px] mx-auto lg:py-14 py-6 lg:px-8 px:px-6">
    <div class="grid md:grid-cols-2 gap-4 lg:gap-16">
      {% if module.position %}
        <div class="flex pr-4 items-center prose prose-p:md:text-lg prose-p:lg:text-xl max-w-none">
          <div class="sticky top-1/2 -translate-y-1/2">
            {% inline_rich_text field="richtext_field" value="{{ module.richtext_field }}" %}
          </div>
        </div>
      {% endif %}
      <div>
        {% if module.image_field.src %}
          {% set sizeAttrs = 'width="{{ module.image_field.width }}" height="{{ module.image_field.height }}"' %}
          {% if module.image_field.size_type == 'auto' %}
            {% set sizeAttrs = 'width="{{ module.image_field.width }}" height="{{ module.image_field.height }}" style="max-width: 100%; height: auto;"' %}
          {% elif module.image_field.size_type == 'auto_custom_max' %}
            {% set sizeAttrs = 'width="{{ module.image_field.max_width }}" height="{{ module.image_field.max_height }}" style="max-width: 100%; height: auto;"' %}
          {% endif %}
          {% set loadingAttr = module.image_field.loading != 'disabled' ? 'loading="{{ module.image_field.loading }}"' : '' %}
          <img class="shadow-lg" src="{{ module.image_field.src }}" alt="{{ module.image_field.alt }}" {{ loadingAttr }} {{ sizeAttrs }}>
        {% endif %}
      </div>
      {% if !module.position %}
        <div class="flex pr-4 items-center prose prose-p:md:text-lg prose-p:lg:text-xl max-w-none">
          <div class="sticky top-1/2 -translate-y-1/2">
            {% inline_rich_text field="richtext_field" value="{{ module.richtext_field }}" %}
          </div>
        </div>
      {% endif %}
    </div>
  </div>
</div>