<!--
    templateType: global_partial
    label: Global partial
    isAvailableForNewContent: false
-->
<!-- Begin partial -->

<div class="flex justify-between items-center px-4">
    {% module "page_template_logo" path="@hubspot/logo" label="Logo" %}
    <div class="w-full flex justify-end">
        {% module "menu" path="/webcoda-theme-new/modules/menu.module" %}
        <div class="flex items-center">
            {% module "button" path="/webcoda-theme-new/modules/button.module" %}
        </div>
    </div>
</div>

<!-- End partial -->
