@tailwind base;
@tailwind components;
@tailwind utilities;

@use 'hubspot-cms.css';

h1 {
  @apply text-3xl lg:text-4xl;
}

h2 {
  @apply text-xl md:text-2xl lg:text-3xl font-bold;
}

h3 {
  @apply text-xl md:text-2xl lg:text-3xl;
}