{% set screens = {"xs": 0, "sm": 576, "md": 768, lg: 992, xl: 1200 } %}
  {% require_css %}
    <style>
      {% scope_css %}
        {% for screen in screens.keys() %}
          {% if screens[screen] > 0 %}
            @media (min-width: {{screens[screen]}}px) {
          {% endif %}
          .grid {
            gap: {{ module.style.column_gap[screen] }}px;
            grid-template-columns: repeat({{ module.style.columns_per_row[screen] }}, 1fr);
          }
          {% if screens[screen] > 0 %}
            }
          {% endif %}
        {% endfor %}

        {% if module.background_color %}
          .group:hover .view-site-btn {
            background-color: white;
            color: {{ module.background_color.color }};
          }
        {% endif %}
      {% end_scope_css %}
    </style>
  {% end_require_css %}

  <div style="background-color: {{ module.background_color.color }}; color: {{ module.text_color.color }}">
    <div class="max-w-[1350px] mx-auto lg:py-14 py-6 lg:px-8 px:px-6">
      <div class="grid grid-cols-2 gap-8">
        {% for item in blog_recent_tag_posts(module.blog_field, module.tag_field, module.max_items, "OR") %}
          <a href="{{ item.absolute_url }}" class="group block p-8" style="background-color: {{ module.box_color.color }}">
            <div class="relative flex">
              <div class="overflow-hidden aspect-square w-40 h-40 p-4">
                <img src="{{ item.featured_image }}" alt="{{ item.featured_image_alt_text }}" class="group-hover:scale-105 transition duration-300 rounded-full">
              </div>
              <div class="pl-8 text-copy">
                <h2 class="mt-1 group-hover:underline">{% inline_text field="title" value="{{ item.title }}" %}</h2>
                <div class="text-xl leading-normal">{% inline_text field="title" value="{{ item.title }}" %}</div>
                <p class="inline-block py-1 px-4 bg-transparent border-2 border-white rounded-md text-sm mt-6 duration-300 view-site-btn">View site</p>
              </div>
            </div>
          </a>
        {% endfor %}
      </div>
    </div>
  </div>