
{% set imageClass = module.centered == true ? 'col-6 sm:col-3 md:col-2 text-center py-4 md:py-0 px-4' : 'flex justify-center items-center' %}
{% set gridClass = module.centered == true ? 'row justify-center items-center' : 'grid grid-cols-3 lg:grid-cols-6 gap-4' %}
<div class="bg-purple-900">
  <div class="max-w-[1350px] mx-auto {{ !module.no_padding ? "lg:py-14 py-6" : "" }} lg:px-8 px:px-6">
    {% if module.heading %}
      <div class="mb-6">
        <h2 class="!text-white text-center">{% inline_text field="heading" value="{{ module.heading }}" %}</h2>
      </div>
    {% endif %}
    <div class="{{ gridClass }}">
      {% for item in module.client_logo %}
        {% if item.src %}
          {% set sizeAttrs = 'width="{{ item.width }}" height="{{ item.height }}"' %}
          {% if item.size_type == 'auto' %}
            {% set sizeAttrs = 'width="{{ item.width }}" height="{{ item.height }}" style="max-width: 100%; height: auto;"' %}
          {% elif item.size_type == 'auto_custom_max' %}
            {% set sizeAttrs = 'width="{{ item.max_width }}" height="{{ item.max_height }}" style="max-width: 100%; height: auto;"' %}
          {% endif %}

          {% set loadingAttr = item.loading != 'disabled' ? 'loading="{{ item.loading }}"' : '' %}

          <div class="{{ imageClass }}">
            <img src="{{ item.src }}" alt="{{ item.alt }}" class="brightness-0 invert" {{ loadingAttr }} {{ sizeAttrs }}>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>
