{% set screens = {"xs": 0, "sm": 576, "md": 768, lg: 992, xl: 1200 } %}
{% require_css %}
  <style>
    {% scope_css %}
      {% for screen in screens.keys() %}
        {% if screens[screen] > 0 %}
          @media (min-width: {{screens[screen]}}px) {
        {% endif %}
        .grid {
          gap: {{ module.style.column_gap[screen] }}px;
          grid-template-columns: repeat({{ module.style.columns_per_row[screen] }}, 1fr);
        }
        {% if screens[screen] > 0 %}
          }
        {% endif %}
      {% endfor %}
    {% end_scope_css %}
  </style>
{% end_require_css %}

{% set grid_columns = "" %}
{% if module.columns == "1" %}
  {% set grid_columns = "grid-cols-1" %}
{% elif module.columns == "2" %}
  {% set grid_columns = "md:grid-cols-2" %}
{% elif module.columns == "3" %}
  {% set grid_columns = "grid-cols-1 md:grid-cols-2 lg:grid-cols-3" %}
{% endif %}

<div>
  <div class="grid gap-8 {{ grid_columns }}">
    {% for item in blog_recent_posts(module.blog_field, module.max_items) %}
      <div class="group">
        <a href="{{ item.absolute_url }}" class="relative">
          <div class="overflow-hidden">
            <img src="{{ item.featured_image }}" alt="{{ item.featured_image_alt_text }}" class="group-hover:scale-105 aspect-video object-cover transition duration-300">
          </div>
          <div class="p-8 text-copy max-w-[540px]">
            <h2>{% inline_text field="title" value="{{ item.title }}" %}</h2>
            <div class="text-xl mt-3 leading-normal">{% inline_text field="title" value="{{ item.title }}" %}</div>
          </div>
        </a>
        <div class="pb-8 px-8">
          <div class="mb-2">{{ item.blog_author.display_name }}</div>
          <div>
            {% for topic in item.topic_list %}
              <a class="text-blue-700" href="{{ topic.slug }}">{{ topic.name }}</a>
            {% endfor %}
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>